In [1]:
str = "dasda"
print(len(str))

5

In [3]:
classmates = ['2131','112312']
classmates

['2131', '112312']

In [5]:
classmates[0]

'2131'

In [7]:
classmates[-1]

'112312'

In [10]:
classmates.append("666")

In [13]:
classmates.insert(0,"dsasd")

In [15]:
classmates

['dsasd', 'dsasd', '2131', '112312', '666', '666']

In [18]:
p = ['asp', 'php']
s = ['python', 'java', p, 'scheme']
s[2][1]

'php'

In [20]:
tuclass =('zh','en')
tuclass

('zh', 'en')

In [22]:
tuclass[0] = 'das'

TypeError: 'tuple' object does not support item assignment

In [24]:
age = 3
if age>5:
    print("大于五岁")
else:
    print("小于五岁")

小于五岁

In [26]:
score = 'B'

match score:
    case 'A':
        print('score is A.')
    case 'B':
        print('score is B.')
    case 'C':
        print('score is C.')
    case _: # _表示匹配到其他任何情况
        print('score is ???.')

score is B.

In [28]:
for i in classmates:
    print(i)

dsasd
dsasd
2131
112312
666
666

In [1]:
list(range(101))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [32]:
sum=0
for x in range(11):
    sum+=x
print(sum)

55

In [37]:
namemap={'zh':1,'en':2}
namemap

{'zh': 1, 'en': 2}

In [40]:
namemap['zh']=666
namemap['zh']

666

In [42]:
'zh' in namemap

True

In [46]:
namemap.get('zh11',-1)

-1

In [48]:
s= set([1,2,2,1,1,1,2])
s

{1, 2}

In [50]:
s.add(9)
s

{1, 2, 9}

In [53]:
s.remove(1)
s

KeyError: 1

In [56]:
2 in s

True

In [61]:
z=abs
z(-110)

110

In [64]:
n1 = 255
n2 = 1000

hex(255)

'0xff'

In [70]:
def zk_zbs(x):
    if x>=0:
        return x
    else:
        return -x
    
d=zk_zbs
d(-1909)

1909

In [71]:
def nop():
    pass

In [78]:
def calc(*numbers):
    sum = 0
    for n in numbers:
        sum = sum + n * n
    return sum


num=(1,2,3)
calc(*num)

14

In [84]:
arr=list(range(101))
arr[:10]
arr[-10:]
arr[-10:-1:2]
arr[::10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [92]:
arr = [1,2,3,4]
for index,value in enumerate(arr):
    print(index)
    print(value)

0
1
1
2
2
3
3
4

In [94]:
from collections.abc import Iterable
isinstance('abc', Iterable)

True

In [96]:
for x, y in [(1, 1), (2, 4), (3, 9)]:
    print(x,y)

1 1
2 4
3 9

In [98]:
def testmin(*arr):
    min=0;
    max=0;
    for v in arr:
        if(v<min):
            min=v
        if(v>max):
            max=v
    return min,max
            
testmin(1,2,3,4)

(0, 4)

In [100]:
[x * x for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [107]:
g=(x *x*x for x in (range(10)))
for v in g:
    print(v)

0
1
8
27
64
125
216
343
512
729

In [112]:
def fib(max):
    n,a,b=0,0,1
    while n<max:
        print(b)
        a,b=b,a+b
        n+=1
    return 'done'

fib(10)

1
1
2
3
5
8
13
21
34
55

'done'

In [116]:
def fib(max):
    n,a,b=0,0,1
    while n<max:
        yield b
        a,b=b,a+b
        n+=1
    return 'done'

g=fib(10)

while True:
    try:
        x=next(g)
        print('g:',x)
    except StopIteration as e:
        print('Generator return value:', e.value)
        break

g: 1
g: 1
g: 2
g: 3
g: 5
g: 8
g: 13
g: 21
g: 34
g: 55
Generator return value: done

In [118]:
def f(x):
    return x*x*x

r=map(f,list(range(10)))
list(r)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [121]:
from functools import reduce
def add(x,y):
    return x+y

reduce(add,[1,2,3,1,3])

10

In [127]:
from operator import itemgetter
students = [('Bob', 75), ('Adam', 92), ('Bart', 66), ('Lisa', 88)]

print(sorted(students, key=itemgetter(0)))
print(sorted(students, key=lambda t: t[1]))
print(sorted(students, key=lambda t: t[0]))

[('Adam', 92), ('Bart', 66), ('Bob', 75), ('Lisa', 88)]
[('Bart', 66), ('Bob', 75), ('Lisa', 88), ('Adam', 92)]
[('Adam', 92), ('Bart', 66), ('Bob', 75), ('Lisa', 88)]

In [129]:
def lazy_sum(*args):
    def sum():
        ax = 0
        for n in args:
            ax = ax + n
        return ax
    return sum

f=lazy_sum(1,2,1,1,1)
f()

6

In [132]:
L=list(filter(lambda x:x%2 == 1,range(1,20)))
print(L)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [135]:
def now():
    print("当前时间")
f=now
f()
f.__name__

当前时间

'now'

In [138]:
def log(func):
    def wrapper(*args, **kw):
        print('call %s():' % func.__name__)
        return func(*args, **kw)
    return wrapper

@log
def now():
    print("当前时间")
now()

call now():
当前时间

In [141]:
import numpy as np
ran3d = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
ran3d[0][1][0]

4